#header
  %span{:class => "re"}><
    Re
  tweets
#content
  #retweets
    .retweet
      .number_of_retweets
        %span 10
      %span{:class => "tweet"}
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .tagline
        %span{:class => 'author'} @garru
        %span{:class => 'datetime'} 01/23/2010 11:46 PM
    .retweet
      .number_of_retweets
        %span 9
      %span{:class => "tweet"}
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .retweet
      .number_of_retweets
        %span 8
      %span{:class => "tweet"}
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.        
    .retweet
      .number_of_retweets
        %span 7
      %span{:class => "tweet"}
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.