!!!
%html
  %head
    %title Retweets
    %link{:href => "/reset.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/stylesheet.css", :rel => "stylesheet", :type => "text/css"}
  %body
    #wrap
      = yield